*{
  box-sizing: border-box;
}
body {
  background: #F2F2F2;
  font-family: 'Montserrat', sans-serif;
  color: #272727;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  margin: auto;
  position: relative;
}

.container {
  width: 1170px;
  margin: auto;
  padding: 0 20px;
  @media (max-width: 1280px) {
    width: 960px;
  }
  @media(max-width: 1024px) {
    width: 720px;
    box-sizing: border-box;
  }
  @media (max-width: 767px) {
    width: 440px;
    padding: 0 10px;
  }
  @media (max-width: 479px) {
    width: 380px;
  }
  @media (max-width: 380px) {
    width: 300px;
    padding: 0 10px;
  }
}

.row{
  display: flex;
  justify-content: space-between;
}

a{
  display: flex;
  text-decoration: none;
  color: #272727;
}